:root {
  --body-color: #ffffff;
  --logo-color: #2196f3;
  --second-logo-color: #212121;
  --main-background-color: #2f303a;
  --header-link: #212121;
  --btn-back: #2196f3;
  --btn-color: #ffffff;
  --team-background-color: #f5f4fa;
  --footer-background: #2f303a;
  /* card-set-gap */
  --features-card-set-gap: 30px;
  --portfolio-card-set-gap: 30px;
}
body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
p {
  margin: 0;
}
img {
  display: block;
  min-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.btn {
  display: inline-block;
  font-family: inherit;
  cursor: pointer;

  border: none;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Header */
.header {
  border-bottom: 1px solid #ececec;
  background-color: #fff;
}
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--logo-color);
}
.second-logo-color {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--second-logo-color);
}
.nav-link {
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--header-link);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--logo-color);
}
.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--logo-color);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* Main */
.hero {
  background-color: var(--main-background-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  color: white;
}
.hero-btn {
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--btn-back);
  color: var(--btn-color);
  cursor: pointer;
}
.hero-btn:hover {
  background-color: #188ce8;
}
/* Особенности */
.features-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}
/* command */
.command-list {
  background-color: var(--team-background-color);
}
.command-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 0.84;
  color: #212121;
}
.command-text {
  font-size: 16px;
  line-height: 0.84;
  color: #757575;
}
/* portfolio */
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: white;
  background-color: var(--logo-color);
}
.portfolio-btn {
  font-family: Roboto;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
/* Список работ */
.portfolio-item {
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
}
.portfolio-link {
  color: inherit;
}
.portfolio-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-logo-color);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}
.main-servies {
  font-size: 18px;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-link);
}
.main-description {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

/* Footer */
.footer {
  background-color: var(--footer-background);
}
.footer-color-logo {
  color: white;
}
.address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.address-link:hover,
.address-link:focus {
  color: var(--logo-color);
}
